**/node_modules
public/hot
public/storage
storage/app/public/*
storage/app/private/*
storage/*.key
vendor
.idea
_ide_helpers.php
.vscode
.vs
.git
.php-cs-fixer.cache
.phpunit.result.cache
docker-compose.yml
phpstan.neon
README.md
phpunit.xml
.editorconfig
tests
storage/clockwork
bootstrap/cache/*.php
Dockerfile
pint.json
.env
.env.example
.DS_Store
.gitattributes
.gitignore
