@import 'tailwindcss';
@import 'tw-animate-css';

@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-positive: var(--positive);
  --color-positive-foreground: var(--positive-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--primary);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--primary);
  --color-sidebar-primary-foreground: var(--primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--primary);

  --color-player: var(--player);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--reka-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--reka-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: hsl(210 40% 98%);
  --positive: hsl(144.9, 100%, 25.5%);
  --positive-foreground: hsl(138.5, 76.5%, 96.7%);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);

  --radius: 0.5rem;

  --player: hsl(0 0% 100%);

  /* Tiptap */
  --tt-color-text-gray: oklch(92.8% 0.006 264.531);
  --tt-color-text-brown: hsla(18, 43%, 69%, 0.35);
  --tt-color-text-orange: hsla(24, 73%, 55%, 0.27);
  --tt-color-text-yellow: hsla(44, 82%, 59%, 0.39);
  --tt-color-text-green: hsla(126, 29%, 60%, 0.27);
  --tt-color-text-blue: hsla(202, 54%, 59%, 0.27);
  --tt-color-text-purple: hsla(274, 37%, 64%, 0.27);
  --tt-color-text-pink: hsla(331, 60%, 71%, 0.27);
  --tt-color-text-red: hsla(8, 79%, 79%, 0.4);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(50.5% 0.213 27.518);
  --destructive-foreground: hsl(210 40% 98%);
  --positive: oklch(26.6% 0.065 152.934);
  --positive-foreground: hsl(138.5, 76.5%, 96.7%);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);

  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);

  /* Tiptap */
  --tt-color-text-brown: hsla(17, 45%, 50%, 0.25);
  --tt-color-text-orange: hsla(27, 82%, 53%, 0.2);
  --tt-color-text-yellow: hsla(35, 49%, 47%, 0.2);
  --tt-color-text-green: hsla(151, 55%, 39%, 0.2);
  --tt-color-text-blue: hsla(202, 54%, 43%, 0.2);
  --tt-color-text-purple: hsla(271, 56%, 60%, 0.18);
  --tt-color-text-pink: hsla(331, 67%, 58%, 0.22);
  --tt-color-text-red: hsla(0, 67%, 60%, 0.25);
}

@layer base {
  /*
    The default border color has changed to `currentColor` in Tailwind CSS v4,
    so we've added these compatibility styles to make sure everything still
    looks the same as it did with Tailwind CSS v3.

    If we ever want to remove these styles, we need to add an explicit border
    color utility to any element that depends on these defaults.
  */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
