
/* selector = media-player */
/* prefixOpt = media  */
/* prefix = media- */

/* pre každy variant vytvorim selector a not selector */

/*addVariant(`${prefix}${name}`, `${selector}[data-${attrName}]${extend} &`);*/
/*addVariant(`not-${prefix}${name}`, `${selector}:not([data-${attrName}]${extend}) &`);*/

:root {
  --player: hsl(0 0% 100%);
}

.dark {
  --player: hsl(0 0% 100%);
}

@theme inline {
  --color-player: var(--player);
}

@custom-variant media-autoplay-error (media-player[data-autoplay-error] &);
@custom-variant not-media-autoplay-error (media-player:not([data-autoplay-error]) &);

@custom-variant media-autoplay (media-player[data-autoplay] &);
@custom-variant not-media-autoplay (media-player:not([data-autoplay]) &);

@custom-variant media-buffering (media-player[data-buffering] &);
@custom-variant not-media-buffering (media-player:not([data-buffering]) &);

@custom-variant media-can-fullscreen (media-player[data-can-fullscreen] &);
@custom-variant not-media-can-fullscreen (media-player:not([data-can-fullscreen]) &);

@custom-variant media-can-load-poster (media-player[data-can-load-poster] &);
@custom-variant not-media-can-load-poster (media-player:not([data-can-load-poster]) &);

@custom-variant media-can-load (media-player[data-can-load] &);
@custom-variant not-media-can-load (media-player:not([data-can-load]) &);

@custom-variant media-can-pip (media-player[data-can-pip] &);
@custom-variant not-media-can-pip (media-player:not([data-can-pip]) &);

@custom-variant media-can-play (media-player[data-can-play] &);
@custom-variant not-media-can-play (media-player:not([data-can-play]) &);

@custom-variant media-can-seek (media-player[data-can-seek] &);
@custom-variant not-media-can-seek (media-player:not([data-can-seek]) &);

@custom-variant media-captions (media-player[data-captions] &);
@custom-variant not-media-captions (media-player:not([data-captions]) &);

@custom-variant media-controls (media-player[data-controls] &);
@custom-variant not-media-controls (media-player:not([data-controls]) &);

@custom-variant media-ended (media-player[data-ended] &);
@custom-variant not-media-ended (media-player:not([data-ended]) &);

@custom-variant media-error (media-player[data-error] &);
@custom-variant not-media-error (media-player:not([data-error]) &);

@custom-variant media-fullscreen (media-player[data-fullscreen] &);
@custom-variant not-media-fullscreen (media-player:not([data-fullscreen]) &);

@custom-variant media-ios-controls (media-player[data-ios-controls] &);
@custom-variant not-media-ios-controls (media-player:not([data-ios-controls]) &);

@custom-variant media-live-edge (media-player[data-live-edge] &);
@custom-variant not-media-live-edge (media-player:not([data-live-edge]) &);

@custom-variant media-live (media-player[data-live] &);
@custom-variant not-media-live (media-player:not([data-live]) &);

@custom-variant media-loop (media-player[data-loop] &);
@custom-variant not-media-loop (media-player:not([data-loop]) &);

@custom-variant media-muted (media-player[data-muted] &);
@custom-variant not-media-muted (media-player:not([data-muted]) &);

@custom-variant media-paused (media-player[data-paused] &);
@custom-variant not-media-paused (media-player:not([data-paused]) &);

@custom-variant media-pip (media-player[data-pip] &);
@custom-variant not-media-pip (media-player:not([data-pip]) &);

@custom-variant media-playing (media-player[data-playing] &);
@custom-variant not-media-playing (media-player:not([data-playing]) &);

@custom-variant media-playsinline (media-player[data-playsinline] &);
@custom-variant not-media-playsinline (media-player:not([data-playsinline]) &);

@custom-variant media-preview (media-player[data-preview] &);
@custom-variant not-media-preview (media-player:not([data-preview]) &);

@custom-variant media-seeking (media-player[data-seeking] &);
@custom-variant not-media-seeking (media-player:not([data-seeking]) &);

@custom-variant media-started (media-player[data-started] &);
@custom-variant not-media-started (media-player:not([data-started]) &);

@custom-variant media-waiting (media-player[data-waiting] &);
@custom-variant not-media-waiting (media-player:not([data-waiting]) &);

